@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #135bec;
  --background-light: #f6f6f8;
  --background-dark: #101622;
}

.font-display {
  font-family: "Inter", "sans-serif";
}
.bg-background-light {
  background-color: var(--background-light);
}
.bg-background-dark {
  background-color: var(--background-dark);
}
.form-input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #111318;
  outline: none;
}
.dark .form-input {
  background-color: #1f2937;
  border-color: #374151;
  color: #fff;
}
.form-input::placeholder {
  color: #6b7280;
}
.dark .form-input::placeholder {
  color: #9ca3af;
}
.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.5rem;
  text-align: left;
}
.dark .form-label {
  color: #d1d5db;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
